h1 {
  color: blue;
  font-weight: bold;
  text-align: center
}

h2 {
  color: orange;
  font-weight: bold;
  text-align: center
}


p {
  font-family: georgia
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
